@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #0e0e0e;
  color: #fff;
}

h1 {
  margin-bottom: 20px; /* Add space below the heading */
  color: #222; /* Slightly darker color for headings for emphasis */
}

#sol-balance, #tokens-list {
  background-color: #ffffff; /* White background for the balance and tokens list */
  border-radius: 8px; /* Rounded corners for a modern look */
  padding: 15px; /* Padding inside the elements */
  margin-bottom: 10px; /* Space between elements */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* A subtle shadow for depth */
}

#sol-balance {
  display: flex;
  justify-content: space-between; /* Space out the balance text and value */
  align-items: center;
}

#sol-balance-value {
  font-weight: bold; /* Make the balance value stand out */
}

#tokens-list {
  display: flex;
  justify-content: space-between; /* Space out the balance text and value */
  align-items: center;
  /* If you plan to dynamically add tokens, consider styles for token items */
}

.app-store {
  padding: 20px;
}

.header {
  /* Стили для шапки */
}

.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.dapp-item {
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.dapp-item h2 {
  font-size: 1.5em;
}

.dapp-item p {
  font-size: 1em;
}

.dapp-item button {
  background-color: #0062cc;
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.footer {
  /* Стили для футера */
}
