.notion-header {
    width: 100%;
    margin-bottom: 16px;
    font-family: var(--primary-font);
    display: var(--header-display);
  }
  .notion-header__cover {
    overflow: hidden;
    position: relative;
    height: 30vh;
  }
  .notion-header__cover-image {
    object-fit: cover;
    width: 100%;
  }
  .notion-header__cover.no-cover {
    max-height: 140px;
    height: 140px;
  }
  .notion-header.collection .notion-header__cover.no-cover {
    max-height: 0;
    height: 0;
  }
  .notion-header.collection .notion-header__cover {
    max-height: 24vh;
    height: 24vh;
  }
  .notion-header__content {
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
  }
  .notion-header__content .notion-header__title-wrapper {
    margin-top: 96px;
    margin-bottom: 4px;
    position: relative;
  }
  .notion-header__content.max-width {
    max-width: var(--layout-max-width);
    margin: auto;
  }
  .notion-header__content.no-cover.has-icon-image .notion-header__title-wrapper {
    margin-top: 142px;
  }
  .notion-header__content.no-cover.has-icon .notion-header__title-wrapper {
    margin-top: 84px;
  }
  .notion-header__content.no-icon.has-cover .notion-header__title-wrapper {
    margin-top: 48px;
  }
  .notion-header__content.no-cover.no-icon .notion-header__title-wrapper {
    margin-top: 0;
  }
  .notion-header__content.has-cover.has-icon .notion-header__title-wrapper {
    margin-top: 74px;
  }
  .notion-header.collection .notion-header__content.no-cover.no-icon .notion-header__title-wrapper {
    margin-top: 44px;
  }
  .notion-header.collection .notion-header__title-wrapper {
    display: flex;
    align-items: flex-start;
    margin-top: 44px;
    margin-bottom: 4px;
    position: relative;
    z-index: 1;
  }
  .notion-header__title {
    font-weight: 700;
    padding: 2px;
    margin-bottom: 0;
    margin-top: 0;
    font-size: var(--title-size);
    line-height: var(--title-size);
    min-height: 48px;
    white-space: pre-wrap;
    word-break: break-word;
    text-align: var(--header-title-align);
  }
  .notion-header__title .notion-semantic-string {
    word-break: break-word;
  }
  .notion-header__description {
    margin-top: 6px;
    font-size: 12px;
  }
  .notion-header__icon-wrapper {
    font-size: 78px;
    line-height: 78px;
    position: absolute;
    padding: 3px;
    bottom: 40px;
  }
  .notion-header__icon-wrapper.has-icon-image {
    bottom: 40px;
    margin: 11px auto;
    width: 131px;
    height: 131px;
  }
  .notion-header__icon-wrapper.has-cover.has-icon {
    top: -112px;
    margin: auto;
  }
  .notion-header__icon-wrapper.has-cover.has-icon-image {
    top: -180px;
  }
  .notion-header__icon-wrapper.no-cover.has-icon-image {
    top: -182px;
    margin: 3px auto;
  }
  .notion-header__icon-wrapper.no-cover.has-icon {
    top: -124px;
  }
  .notion-header__icon-wrapper.has-icon,
  .notion-header__icon-wrapper.has-icon-image {
    inset: var(--header-icon-align);
    text-align: var(--header-title-align);
  }
  .notion-header__icon {
    border-radius: 3px;
  }
  .notion-header.collection .notion-header__icon {
    width: 35px;
    height: 35px;
  }
  .static-renderer.mobile .notion-header__cover {
    height: 200px;
    max-height: 200px;
  }
  .static-renderer.mobile .notion-header__cover.no-cover {
    max-height: 90px;
    height: 90px;
  }
  .static-renderer.mobile .notion-header__content .notion-header__title-wrapper {
    margin-top: 100px;
  }
  .static-renderer.mobile .notion-header__content.no-icon .notion-header__title-wrapper {
    margin-top: 56px;
  }
  .static-renderer.mobile .notion-header__icon-wrapper.has-cover.has-icon-image {
    top: -178px;
  }
  .static-renderer.mobile .notion-header__collection-content,
  .static-renderer.mobile .notion-header__content {
    padding-left: var(--padding-left-mobile);
    padding-right: var(--padding-right-mobile);
  }
  @media(max-width: 546px) {
    .notion-header__cover {
      height: 200px;
      max-height: 200px;
    }
    .notion-header__cover.no-cover {
      max-height: 90px;
      height: 90px;
    }
    .notion-header__content .notion-header__title-wrapper {
      margin-top: 100px;
    }
    .notion-header__content.no-icon .notion-header__title-wrapper {
      margin-top: 56px;
    }
    .notion-header__icon-wrapper.has-cover.has-icon-image {
      top: -178px;
    }
    .notion-header__collection-content,
    .notion-header__content {
      padding-left: var(--padding-left-mobile);
      padding-right: var(--padding-right-mobile);
    }
  }